:root {
    --background-color: #22272e;
    --SecondaryBkground-color: #2d333b;
    --text-color: white;
    --code-block-color: white;
    --LogoColor: #539bf5;
    --Shadow: #444c56;
}

/* ===== Light mode ===== */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --SecondaryBkground-color: #f3f4f6;
        --text-color: #000000;
        --code-block-color: #000000;
        --LogoColor: #1a73e8;
        --Shadow: #d0d7de;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color);
    color: var(--text-color);
}

.container {
    flex: 1;                
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* ===== Content ===== */
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 50px;
}

.image-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 0px 100px var(--Shadow);

}

.text-box {
    flex: 1;
    text-align: left;
}

.text-box h1 {
    font-size: 200px;
    color: var(--LogoColor);
    font-weight: bold;
}

.text-box p {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
}

.text-box .description {
    margin-bottom: 50px;
    letter-spacing: 2px;
    line-height: 30px;
}

.code {
    padding: 15px;
    width: 60%;
    background-color: var(--SecondaryBkground-color);
    color: var(--code-block-color);
    text-align: left;
    border-radius: 6px;
    margin-top: 10px;
    font-family: monospace;
    margin-right: auto;
    font-size: 10px;
}

svg {
    fill: var(--text-color);

}
/* ===== End Content Style ===== */


/* ===== Footer ===== */
footer {
    padding-top: 50px;    
    display: flex;
    align-items: center;              
    justify-content: start;         
    gap: 10px;               
}

footer .sorce-code {
    display: flex;
    align-items: center;              
    gap: 10px; 
}
/* ===== End Footer Style ===== */

/* ===== Responsive ===== */
@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .text-box h1 {
        font-size: 80px;
        text-align: center;
    }

    .text-box p,
    .text-box .description {
        text-align: center;
    }

    .image-box img {
        width: 80%;
        height: auto;
    }

    .code {
        width: 90%;
        font-size: 12px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    footer {
        justify-content: center;
    }
}
